.container {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 20vw;
  background: none;
  position: relative;
  padding-bottom: 10vh;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  font-size: 5vh;
  font-weight: 600;
  text-align: center;
  align-items: center;

  &:hover {
    background-color: rgb(12, 12, 12);
    cursor: pointer;
  }
}

.text {
  position: relative;
  z-index: 1;
}

.imageContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.flip {
  transform: scaleX(-1);
}
