.container {
  position: absolute;
  width: 25vw;
  height: 60vh;
  right: 1vw;
  bottom: 0;
  overflow: hidden;
  ::-webkit-scrollbar {
    width: 0.5vw;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #7775;
    border-radius: 100vw;
  }
  ::-webkit-scrollbar-track {
    background-color: #5555;
    border-radius: 100vw;
    margin-block: 3em;
  }
  form {
    position: absolute;
    bottom: 3vh;
  }
  input {
    padding: 4px;
    padding-left: 25px;
    width: 21vw;
    display: inline-block;
    border-bottom-left-radius: 50px;
    box-sizing: border-box;
    background-color: rgb(12, 12, 12);
    color: white;
  }
  button {
    display: inline-block;
    position: absolute;
    padding: 4px;
    width: 4vw;
    border-bottom-right-radius: 50px;
    background-color: rgb(24, 24, 24);
    color: white;
  }
}

.messages {
  overflow-y: scroll;
  padding: 1rem;
  height: 56vh;

  div {
    margin-bottom: 50px;
  }
}
