@import "../abstracts/mixins";

.chat {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  padding: 0 1rem;
  max-width: 50rem;
  overflow: hidden;

  ::-webkit-scrollbar {
    width: 1rem;
    margin-right: 1rem;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #7775;
    border-radius: 100px;
  }
  ::-webkit-scrollbar-track {
    background-color: #5555;
    border-radius: 100px;
    margin-block: 3em;
  }

  @include respond(tab-lend) {
    position: absolute;
    bottom: 0;
    right: 1rem;
  }

  &__messages {
    height: 40rem;
    padding: 2rem;
    overflow-y: scroll;
  }

  form {
    display: flex;

    input {
      width: 80%;
      height: max;
      padding-left: 1rem;
    }

    button {
      width: 20%;
    }
  }
}
