.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  position: relative;
  border: 1em solid #7d694c;
  background-color: #7d694c;
  background-image: url("../../assets/images/board.png");
  background-size: 100%;
  background-repeat: no-repeat;
  color: #e3e3e3;
  margin: 0 1rem;
}

.promotions {
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 1;
  border: 16px solid #7d694c;
  top: -70px;
  border-bottom: 0;
}
