.container {
  display: flex;
  position: absolute;
  left: 2vw;
}

.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  border: 16px solid #7d694c;
  position: relative;
}

.promotions {
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 1;
  border: 16px solid #7d694c;
  top: -70px;
  border-bottom: 0;
}

.userInfo {
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
  :last-child {
    margin-top: auto;
  }
}
