.clock {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-left: 0.5vw;
  background-color: rgba(2, 2, 2, 0.709);
  width: 8vw;
  p {
    margin-top: auto;
    margin-bottom: auto;
  }
}
