@import "../abstracts/variables";
@import "../abstracts/mixins";

.header {
  display: flex;
  width: 100vw;
  padding: 1rem;
  overflow-x: hidden;

  &RightSide {
    position: absolute;
    right: 1rem;
    background-color: $color-green;
    width: fit-content;
    padding: 1rem;
    height: 6rem;

    p {
      position: absolute;
      visibility: hidden;

      @include respond(tab-lend) {
        position: static;
        visibility: visible;
        margin: 0 auto;
      }
    }

    &UserInfo {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
  }
}

.userPhoto {
  flex-shrink: 0;
  position: relative;
  height: 4rem;
  width: 4rem;
}
