@import "../abstracts/mixins";

.hostOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  @include respond(tab-port) {
    width: 50%;
  }

  &__clock {
    display: flex;
    align-items: center;

    button {
      font-size: 1.5rem;
      width: 5rem;
      height: 4rem;
    }

    p {
      width: 5rem;
      text-align: center;
      margin-right: 1rem;
    }
  }

  &__start {
    button {
      margin-top: 1rem;
      font-size: 1.8rem;
      width: 10em;
    }
  }
}
