.notations {
  width: 11em;
  height: 20rem;
  overflow-y: scroll;
  white-space: nowrap;
  flex-shrink: 0;

  > :nth-child(odd) {
    background-color: gray;
  }

  &__move {
    span {
      display: inline-block;
      width: 7rem;
      text-align: center;
    }
  }
}
