@import "../abstracts/mixins";

.roomGame {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6em;

  &__chessboard {
    flex-grow: 0;
    // order: -1;
  }

  &__player {
    margin: 1rem;
    border: 1px solid whitesmoke;
    border-radius: 0.3rem;
    align-self: flex-start;
    width: min(50%, 30rem);
  }

  @include respond(tab-lend) {
    align-items: flex-start;
  }
}
