@import "../abstracts/mixins";

.roomGame {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6em;

  &__chessboard {
    flex-grow: 0;
  }

  &__player {
    display: flex;
    align-items: center;
    align-self: flex-start;

    &__name {
      margin: 1rem;
      border: 1px solid whitesmoke;
      border-radius: 0.3rem;
      width: 25rem;
    }
  }

  @include respond(tab-lend) {
    align-items: flex-start;
  }
}
