.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 1rem;

  .roomSetup {
    width: 100%;
    max-width: 100rem;
    margin: 2rem 1rem;
    border: solid 2px white;
    padding: 1rem;

    &Users {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    legend {
      font-size: 1.5rem;
    }

    fieldset {
      padding: 0.5rem;
    }
  }
  .btn {
    text-align: center;
  }
}
