@import "../abstracts/mixins";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;

  @include respond(tab-port) {
    margin-top: 20rem;
  }

  .roomSetup {
    width: 100%;
    max-width: 80rem;
    margin: 2rem 1rem;
    border: solid 2px white;
    padding: 1rem;

    @include respond(tab-port) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &Users {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    legend {
      font-size: 1.5rem;
    }

    fieldset {
      padding: 0.5rem;

      @include respond(tab-port) {
        width: 50%;
        align-self: flex-start;
      }
    }
  }
  .btn {
    text-align: center;
  }
}
