.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  position: relative;
  height: 6rem;
  width: 6rem;
  margin: 0 1rem;
}

// .rotate {
//   transform: scaleX(-1);
// }
