.waiting {
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
  width: max-content;

  &Title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &CopyLines {
    display: flex;
    align-items: center;
    p {
      width: 8rem;
      text-align: center;
    }
    input {
      height: 3.5rem;
    }
    button {
      margin: 0.2rem 0.5rem;
    }
  }
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success {
  transition: opacity 400ms;
  opacity: 1;
}

.img {
  transition: opacity 1000ms;
  opacity: 0;
}
