@import "../abstracts/mixins";

.waiting {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;

  @include respond(tab-port) {
    width: 60%;
  }

  &Title {
    margin-bottom: 1rem;
  }

  &CopyLines {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    p {
      text-align: center;
      width: 4rem;
      margin-right: 0.5rem;
    }
    input {
      height: 3.5rem;
      width: 50%;
    }
    button {
      margin: 0.2rem 0.5rem;
    }

    @include respond(tab-port) {
      margin-left: 1.5em;

      input {
        width: 60%;
      }
    }
  }
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  text-align: center;
}

.success {
  transition: opacity 400ms;
  opacity: 1;
}

.img {
  transition: opacity 1000ms;
  opacity: 0;
}
