@import "../abstracts/variables";
@import "../abstracts/mixins";

.container {
  @include respond(tab-lend) {
    display: flex;
    justify-content: center;
    gap: 7rem;
    margin-top: 5rem;
    padding: 0 3rem;
    overflow-x: hidden;
  }

  &Chess {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(tab-lend) {
      margin: 5rem auto 0 0;
    }

    &Btn {
      button {
        margin: 1rem 0.5rem;
      }
    }
  }
}

.leftSide {
  display: flex;
  flex-direction: column;
  @include respond(tab-lend) {
    margin-left: auto;
    align-items: center;
  }

  &Cards {
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin: 2rem 0 0.5rem;

    @include respond(tab-lend) {
      margin: 8rem auto 6rem;
    }
  }
}
