.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}

.content {
  position: absolute;
  display: flex;
  gap: 1.5rem;
}
